<form id="<%= formId %>" action="/update-comment/<%= comment._id %>" method="POST" style="display: none;" class="edit-comment">
    <label for="comment">Comment:</label>
    <textarea id="comment-input" name="comment"><%= comment.comment %></textarea>
    <br>
    <button type="submit" class="edit-del-btn"> Save</button>
                                                                                    <!-- Leave unquoted because its a ejs expression-->   
    <button type="button" class="edit-del-btn" onclick="toggleEditMode('<%= formId %>', <%= JSON.stringify(displayElementsIds) %>, '<%= editButtonId %>')">Cancel</button>
</form>