<%# Currently not in use, this is the old version using json. mongodb version was ported directly to home %>
<% data.forEach(function(post) { %>
    <div class="post-container">
            <!-- vvv Make and link Post Page that loads content -->
        <a href="/post-page<%= post.postId%>" class="link-overlay"></a>
        <div class="profile-picture bypass-overlay">
            <img src="<%= post.userProfile %>" alt="user-profile">
            <a href="viewprofile.html"><%= post.username %></a> <a href="communities.html">from c/<%= post.community %></a>
        </div>
        <h4><%= post.postTitle %></h4>
        <img src="<%= post.postImg %>" alt="post-Img">

        <button class="bypass-overlay">
            <img src="/img/upvote-icon.svg" alt="Upvote" id="upvote-btn">
            <p><%= post.upvotes %></p>
        </button>
        <button class="bypass-overlay">  
            <img src="/img/downvote-icon.svg" alt="Downvote" id="downvote-btn">
            <p><%= post.downvotes %></p>
        </button>
        <button class="bypass-overlay">
            <img src="/img/comment-icon.svg" alt="Comment" id="comment-btn"> 
            <!-- In express.js, public directory is configured to be root dir so no need to include "public" in absolute file path -->
            <!-- Insert comment count? -->
        </button>
    </div>
<% }); %>
