<% data.forEach(post => { %>
    <div class="post-container">
        <!-- Would not be feasible in hbs -->
        <a href="/post/<%= post._id %>/<%= encodeURIComponent(post.title) %>" class="link-overlay"></a>
        
        <div class="post-profile bypass-overlay">
            <% if(post.poster.picture) { %>
                <img src="<%= post.poster.picture %>" alt="user-profile">
            <% } else { %>
                <img src="/img/user-icon-default.png" alt="user-profile">
            <% } %>

            <a href="/user-profile/<%= post.poster._id %>"><%= post.poster.username %></a>
            
            <% if (!locals.inCommunity) { %>
                <a href="/c/<%= post.community._id %>/<%= post.community.name %>">from c/<%= post.community.name %></a>
            <% } %> 
            <br><sub class="post-date">Posted <%= post.createdAt.toDateString()%></sub>
        </div>
        <h4><%= post.title %></h4> 
        <% if(post.images) { %>
            <img src="<%= post.images %>" alt="post-Img">
        <% } %>
 
        <button class="bypass-overlay">
            <img src="/img/upvote-icon.svg" alt="Upvote" id="upvote-btn">
            <p><%= post.upvotes %></p>
        </button>
        <button class="bypass-overlay">  
            <img src="/img/downvote-icon.svg" alt="Downvote" id="downvote-btn">
            <p><%= post.downvotes %></p>
        </button>
        <button class="bypass-overlay">
            <img src="/img/comment-icon.svg" alt="Comment" id="comment-btn"> 
            <!-- In express.js, public directory is configured to be root dir so no need to include "public" in absolute file path -->
            <!-- Insert comment count? -->
        </button>
    </div>
<% }) %>