<% data.forEach(post => { %>
    <a href="/post/<%= post._id %>/<%= encodeURIComponent(post.title) %>">
    <div class="latest-posts">
        <div class="profile-post-header">
            <div class="post-title">
                <h3><%= post.title %></h3>
            </div>
            <% if (user && post.poster.toString() === user._id.toString()) { %>
                <%- include('./delete', { action: '/delete-post/' + post._id }) %>
            <% } %>
        </div>

        <div class="post-content">
            <% if (post.images) { %>
                <div>
                    <img src=<%= post.images %> alt="post_img">
                </div>
            <% } %>
            <div>
                <p><%= post.content.substring(0, 185) + (post.content.length > 185 ? "..." : "") %></p>
            </div>
        </div>
        

    </div>
    </a>
<% }) %>
