<%# No results found indicator %>
<% if (data.length === 0) { %> <%# strict equality, avoid potential issues caused by type conversions %>
    <article class="search-results">
        <img src="/img/no-results-icon.png" alt="No-Results">
        <h2>Hm... it seems our post offices could not find any results for "<%= locals.search %>"</h2>
        <h3>Check your spelling or try other keywords</h3>
        <br><br>
    </article>
<% } %>

<%# Show from which community post is (not applied to community page) %>
<% if (locals.inCommunity && typeof community !== 'undefined' && community) { %>
    <div class="community-header community-layout">
        <img src="<%= community.picture || '/img/community-icon-default.png' %>" alt="profile-picture" id="profile">
        <div class="community-text">
            <h1>c/<%= community.name %></h1>
            <p><%= community.description %></p>
            <sub>Created: <%= community.createdAt.toDateString() %></sub>
        </div>
    </div>
<% } %>

<%- include('./partials/post.ejs') %>

<div id="load-more-marker" style="height: 10px; margin: 20px 0;"></div>