<% if (user) { %>
    <div id="myprofile">
        <div id="profile-header">
            <% if (user.picture) { %>
                <img src="<%= user.picture %>" alt="Profile picture">
            <% } else { %>
                <img src="/img/user-icon-default.png" alt="Profile picture">
            <% } %>
            <h2 id="username"> u/<%= user.username %></h2>
            <button id="edit-profile" onclick="toggleEditMode('edit-profile-form', ['username', 'profile-description'], 'edit-profile')">Edit</button>
        </div>

        <p id="profile-description"><%= user.description %></p>
        
        <!-- Include the edit form partial for profile -->
        <%- include('partials/editprofile', { formId: 'edit-profile-form', action: '/update-profile', user: user, displayElementsIds: ['username', 'profile-description'], editButtonId: 'edit-profile' }) %>
        
        <div id="profile-info">
            <h2>Latest Posts:</h2>
            <%- include('partials/profile-post', { data: posts, comments: comments }) %>

            <h2>Comments:</h2>            
            <% comments.forEach(comment => { %>
            <div class="user-comments">
                <p><%= comment.comment %></p>
            </div>

            <% }) %>
        </div>
    </div>
<% } %>

