<!-- Static html ported, not yet adjusted -->
    <div class="post-container">
        <div class="profile-picture">
            <% if(data.poster.picture) { %>
                <img src="<%= data.poster.picture %>" alt="user-profile">
            <% } else { %>
                <img src="/img/user-icon-default.png" alt="user-profile">
            <% } %>
            <a href="/user-profile/<%= data.poster._id %>"><%= data.poster.username %></a>
            <div class="post-edit-buttons">
                <button> Edit </button>
                <button> Delete </button>
            </div>
        </div>
        <h4><%= data.title %></h4>
        <img src=<%= data.images %> alt="post-Img">
        <button class="bypass-overlay">
            <img src="/img/upvote-icon.svg" alt="Upvote" id="upvote-btn">
            <p><%= data.upvotes %></p>
        </button>
        <button class="bypass-overlay">  
            <img src="/img/downvote-icon.svg" alt="Downvote" id="downvote-btn">
            <p><%= data.downvotes %></p>
        </button>
        <button class="bypass-overlay">
            <img src="/img/comment-icon.svg" alt="Comment" id="comment-btn">
        </button><br>

        <div class="post-content">
            <p><%= data.content %></p>
        </div><hr>

        <input type="text" id="add-comment" placeholder="Add a Comment...">

        <%- include('./partials/comment.ejs') %>
    </div>