<!-- Static html ported, not yet adjusted -->
    <div class="post-container">
        <div class="profile-picture">
            <% if(data.poster.picture) { %>
                <img src="<%= data.poster.picture %>" alt="user-profile">
            <% } else { %>
                <img src="/img/user-icon-default.png" alt="user-profile">
            <% } %>
            <a href="/user-profile/<%= data.poster._id %>"><%= data.poster.username %></a>
            <% if (user != null && data.poster.username == user.username) { %>
                <div class="post-edit-buttons">
                    <button id="edit-post" onclick="toggleEditMode('edit-post-form', ['post-content'], 'edit-post')">Edit</button>
                    <button> Delete </button>
                </div>
            <% } %>
        </div>
        <h3><%= data.title %></h3>
        <% if(data.images) { %>
            <img src="<%= data.images %>" alt="post-Img">
        <% } %>
        <div class="post-content">
            <p id="post-content"><%= data.content %></p>
        </div><hr>
        <button class="bypass-overlay">
            <img src="/img/upvote-icon.svg" alt="Upvote" id="upvote-btn">
            <p><%= data.upvotes %></p>
        </button>
        <button class="bypass-overlay">  
            <img src="/img/downvote-icon.svg" alt="Downvote" id="downvote-btn">
            <p><%= data.downvotes %></p>
        </button>
        <button class="bypass-overlay">
            <img src="/img/comment-icon.svg" alt="Comment" id="comment-btn">
        </button><br>

       

        <form method="POST" action="/addcomment/<%= data._id %>">
            <input type="text" id="add-comment" placeholder="Add a Comment..." name="comment">
        </form>

         <!-- Include the edit form partial for posts -->
         <%- include('partials/editpost', { formId: 'edit-post-form', action: '/update-post', post: data, displayElementsIds: ['post-content'], editButtonId: 'edit-post' }) %>
        

         <% data.comments.forEach(comment => { %>
            <div class="comment">
                <div class="comment-editing">
                    <div>
                        <!-- replace img link with data -->
                        <% if(comment.commenter.picture) { %>
                            <img src="<%= comment.commenter.picture %>" alt="profile-picture">
                        <% } else { %> 
                            <img src="/img/user-icon-default.png" alt="profile-picture">
                        <% } %>
                    </div>
                    <div>
                        <!-- define route for userprofile url -->
                        <a href="/user-profile/<%= comment.commenter._id %>"><%= comment.commenter.username %></a>
                        <% if(comment.commenter.username == user.username) { %>
                            <br><button id="edit-comment-<%= comment._id %>" onclick="toggleEditMode('edit-comment-form-<%= comment._id %>', ['comment-content-<%= comment._id %>'], 'edit-comment-<%= comment._id %>')">Edit</button>
                            <button> Delete </button>
                        <% } %>
                    </div>
                </div>
                <p id="comment-content-<%= comment._id %>"><%= comment.comment %></p>
        
                <!-- Include the edit form partial for comments -->
                <%- include('partials/editcomments', { formId: 'edit-comment-form-' + comment._id, comment: comment, displayElementsIds: ['comment-content-' + comment._id], editButtonId: 'edit-comment-' + comment._id }) %>
            </div>
        <% }) %>

    </div>
    <script src="/js/canceledit.js"></script>
    <script src="/js/edit.js"></script>