<!-- Static html ported, not yet adjusted -->
    <div class="post-container">
        <div class="profile-picture">
            <div>
                <% if(data.poster.picture) { %>
                    <img src="<%= data.poster.picture %>" alt="user-profile">
                <% } else { %>
                    <img src="/img/user-icon-default.png" alt="user-profile">
                <% } %>

                <a href="/user-profile/<%= data.poster._id %>"><%= data.poster.username %></a>
            </div>
            <% if (user != null && data.poster.username == user.username) { %>
                <div class="post-edit-buttons">
                    <button class="edit-del-btn" id="edit-post" onclick="toggleEditMode('edit-post-form', ['post-content'], 'edit-post')">Edit</button>
                    <button class="edit-del-btn"> Delete </button>
                </div>
            <% } %>
        </div>
        
        <h3><%= data.title %></h3>
        <% if(data.images) { %>
            <img src="<%= data.images %>" alt="post-Img">
        <% } %>
        <div class="post-content">
            <p id="post-content"><%= data.content %></p>
        </div>
        <!-- Include the edit form partial for posts -->
        <%- include('./partials/editpost.ejs', { formId: 'edit-post-form', action: '/update-post', post: data, displayElementsIds: ['post-content'], editButtonId: 'edit-post' }) %>
        <hr>
        <button class="bypass-overlay">
            <img src="/img/upvote-icon.svg" alt="Upvote" class="upvote-btn">
            <p><%= data.upvotes %></p>
        </button>
        <button class="bypass-overlay">  
            <img src="/img/downvote-icon.svg" alt="Downvote" class="downvote-btn">
            <p><%= data.downvotes %></p>
        </button>
        <button class="bypass-overlay">
            <img src="/img/comment-icon.svg" alt="Comment" id="comment-btn">
        </button><br>

       

        <form method="POST" action="/addcomment/<%= data._id %>">
            <input type="text" id="add-comment" placeholder="Add a Comment..." name="comment">
        </form>

        <!-- Include the edit form partial for posts -->
        <%- include('./partials/editpost.ejs', { formId: 'edit-post-form', action: '/update-post', post: data, displayElementsIds: ['post-content'], editButtonId: 'edit-post' }) %>
        <!-- Partial for comments -->
        <%- include('./partials/comment.ejs', { data: data }) %>

    </div>
    <!-- already linked in layout -->
    <!-- <script src="/js/script.js"></script>  -->