<!-- Static html ported, not yet adjusted -->
    <div class="post-container">
        <div class="profile-picture">
            <div>
                <% if(data.poster.picture) { %>
                    <img src="<%= data.poster.picture %>" alt="user-profile">
                <% } else { %>
                    <img src="/img/user-icon-default.png" alt="user-profile">
                <% } %>

                <a href="/user-profile/<%= data.poster._id %>"><%= data.poster.username %></a> <br>
                    <!-- Date of post creation and last edit -->
                    <br> Posted on: <%= data.createdAt.getMonth()+1 %>/<%= data.createdAt.getDate() %>/<%= data.createdAt.getFullYear() %> 
                    <%= data.createdAt.getHours() %>:<%= data.createdAt.getMinutes() %>:<%= (data.createdAt.getSeconds() < 10 ? '0' : '') + data.createdAt.getSeconds() %> <br>
                    <% if (data.createdAt !== data.updatedAt) { %>
                         Edited on: <%= data.updatedAt.getMonth()+1 %>/<%= data.updatedAt.getDate() %>/<%= data.updatedAt.getFullYear() %> 
                        <%= data.updatedAt.getHours() %>:<%= data.updatedAt.getMinutes() %>:<%= data.updatedAt.getSeconds() %>
                        <% } %>
            </div>
            <% if (user != null && data.poster.username == user.username) { %>
                <div class="post-edit-buttons">
                    <button class="edit-del-btn" id="edit-post" onclick="toggleEditMode('edit-post-form', ['post-content'], 'edit-post')">Edit</button>
                    <%- include('./partials/delete', { action: '/delete-post/' + data._id }) %>
                </div>
            <% } %>
        </div>
        
        <h3><%= data.title %></h3>
        <% if(data.images) { %>
            <div class="post-img">
                <img src="<%= data.images %>" alt="post-Img">
            </div>
        <% } %>
        <div class="post-content">
            <p id="post-content"><%= data.content %></p>
        </div>
        <!-- Include the edit form partial for posts -->
        <%- include('./partials/editpost.ejs', { formId: 'edit-post-form', action: '/update-post', post: data, displayElementsIds: ['post-content'], editButtonId: 'edit-post' }) %>
        <hr>

        <% if (user) { %>
                <%# Check if user has voted, shade correspoinding vote by adding class vote-active, else add nothing/empty string %>
                <button class="upvote-btn <%= data.voters.some(voter => voter.user.toString() === user._id.toString() && voter.voteType === 'upvote') ? 'vote-active' : '' %>" postId="<%= data._id %>">
                    <img src="/img/upvote-icon.svg" alt="Upvote">
                    <p class="upvote-count"><%= data.upvotes %></p>
                </button>
                <button class="downvote-btn <%= data.voters.some(voter => voter.user.toString() === user._id.toString() && voter.voteType === 'downvote') ? 'vote-active' : '' %>" postId="<%= data._id %>">
                    <img src="/img/downvote-icon.svg" alt="Downvote">
                    <p class="downvote-count"><%= data.downvotes %></p>
                </button>
            <% } else { %>
                <button class="upvote-btn" postId="<%= data._id %>">
                    <img src="/img/upvote-icon.svg" alt="Upvote">
                    <p class="upvote-count"><%= data.upvotes %></p>
                </button>
                <button class="downvote-btn" postId="<%= data._id %>">
                    <img src="/img/downvote-icon.svg" alt="Downvote">
                    <p class="downvote-count"><%= data.downvotes %></p>
                </button>
            <% } %>
        <button>
            <img src="/img/comment-icon.svg" alt="Comment" id="comment-btn">
        </button><br>

        <form method="POST" action="/addcomment/<%= data._id %>">
            <input type="text" id="add-comment" placeholder="Add a Comment..." name="comment">
        </form>

        <!-- Include the edit form partial for posts -->
        <%- include('./partials/editpost.ejs', { formId: 'edit-post-form', action: '/update-post', post: data, displayElementsIds: ['post-content'], editButtonId: 'edit-post' }) %>
        <!-- Partial for comments -->
        <%- include('./partials/comment.ejs', { data: data }) %>

    </div>
    <!-- already linked in layout -->
    <!-- <script src="/js/script.js"></script>  -->