<!-- Static html ported, not yet adjusted -->
    <div class="post-container">
        <div class="profile-picture">
            <% if(data.poster.picture) { %>
                <img src="<%= data.poster.picture %>" alt="user-profile">
            <% } else { %>
                <img src="/img/user-icon-default.png" alt="user-profile">
            <% } %>
            <a href="/user-profile/<%= data.poster._id %>"><%= data.poster.username %></a>
            <% if (user != null && data.poster.username == user.username) { %>
                <div class="post-edit-buttons">
                    <button id="edit-post" onclick="toggleEditMode('edit-post-form', ['profile-description'], 'edit-post')">Edit</button>
                    <button> Delete </button>
                </div>
            <% } %>
        </div>
        <h4><%= data.title %></h4>
        <% if(data.images) { %>
            <img src="<%= data.images %>" alt="post-Img">
        <% } %>
        <button class="bypass-overlay">
            <img src="/img/upvote-icon.svg" alt="Upvote" id="upvote-btn">
            <p><%= data.upvotes %></p>
        </button>
        <button class="bypass-overlay">  
            <img src="/img/downvote-icon.svg" alt="Downvote" id="downvote-btn">
            <p><%= data.downvotes %></p>
        </button>
        <button class="bypass-overlay">
            <img src="/img/comment-icon.svg" alt="Comment" id="comment-btn">
        </button><br>

        <div class="post-content">
            <p><%= data.content %></p>
        </div><hr>

        <form method="POST" action="/addcomment/<%= data._id %>">
            <input type="text" id="add-comment" placeholder="Add a Comment..." name="comment">
        </form>
        

        <% data.comments.forEach(comment => { %>
            <div class="comment">
                <!-- replace img link with data -->
                 <% if(comment.commenter.picture) { %>
                    <img src="<%= comment.commenter.picture %>" alt="profile-picture">
                <% } else { %> 
                    <img src="/img/user-icon-default.png" alt="profile-picture">
                <% } %>
                <div id="comment-editing">
                <!-- define route for userprofile url -->
                <a href="/user-profile/<%= comment.commenter._id %>"><%= comment.commenter.username %></a>
                <% if(comment.commenter.username == user.username) { %>
                    <button id="edit-comment" onclick="toggleEditMode('edit-comment-form', ['comments'], 'edit-comment')">Edit</button>
                <% } %>
                </div>
                <p id="comments"><%= comment.comment %></p>
            </div>
        <% }) %>
    </div>
    <script src="/js/edit.js"></script>