<div class="main-content">

    
    <% if (user) { %>
    <div id="myprofile">
        <div id="profile-header">
            <% if (user.picture) { %>
                <img src=<%= user.picture %>>
            <% }else{ %>
                <img src="/img/user-icon-default.png">
            <% } %>
            <h1 id="username"><%= user.username %></h1>
        </div>

        <div id="profile-info">
            <p id="profile-description"><%= user.description %></p>




            
            <h2>Latest Posts:</h2>
            <% posts.forEach(post => { %>
            <div class="latest-posts">
                <p><%= post.title %></p>
                <% if (post.images) { %>
                    <img src=<%= post.images %> alt="Rick">
                <% } %>
                <button>
                    <img src="https://w7.pngwing.com/pngs/349/305/png-transparent-computer-icons-internet-forum-comment-miscellaneous-monochrome-black-thumbnail.png" alt="Comment">
                    Comment 
                </button>
                <button> 
                    <img src="/img/upvote-icon.svg" alt="Upvote">
                    <%= post.upvotes %>
                </button>
                <button> 
                    <img src="/img/downvote-icon.svg" alt="Downvote">
                    <%= post.downvotes %>
                </button>
            </div>
            <% }) %>



            
            <h2> Comments: </h2>
            <% comments.forEach(comment => { %>
            <div class="latest-posts">
                <p><%= comment.comment %></p>
            </div>
            <% }) %>
        </div>
        
    </div>
    <% } %>
</div>