<div class="main-content">
    
    <div id="myprofile">
        <div id="profile-header">
            <% if (userViewed.picture) { %>
                <img src=<%= userViewed.picture %>>
            <% }else{ %>
                <img src="/img/user-icon-default.png">
            <% } %>
            <h1 id="username">u/<%= userViewed.username %></h1>
        </div>

        <div id="profile-info">
            <p id="profile-description"><%= userViewed.description %></p>
            
            <h2>Latest Posts:</h2>
            <%- include('partials/profile-post', { data: posts, comments: comments }) %>
            
            <h2> Comments: </h2>
            <% comments.forEach(comment => { %>
            <div class="user-comments">
                <p><%= comment.comment %></p>
            </div>
            <% }) %>
        </div>
        
    </div>
</div>